@{
    ViewData["Title"] = "About";
}


<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-5">
            <p></p>
            <p></p>
            <img class="pl-5" src="~/image/logo.jpg" />
        </div>
        <div class="col-7">
            <h3>Games OnlineShop</h3>
            <p>地址: 106台北市大安區信義路三段100號</p>
            <p>電話: 02-123-4567</p>
            <p>E-Mail: GamesOnlineShop@@it.com.tw</p>
        </div>
    </div>
</div>
<hr />
<p></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12160.028467324306!2d121.53715054667646!3d25.027350627757322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a97f889dd687%3A0x2004d9828914490a!2z5aSn5a6J5qOu5p6X5YWs5ZyS56uZ!5e0!3m2!1szh-TW!2stw!4v1640608715648!5m2!1szh-TW!2stw" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
